<div class="wrapper">
    <div class="section-registro">
      <div class="header-registro">
        <app-navbar ></app-navbar>
      </div>
      <div class="wrapper">
        <!-- Va a englobar todo el formulario con la cabecera -->
        <div class="section-registro">
          <div class="body-registro">
            <div class="row mt-3 mb-3">
              <div class="form-group col-12">
                <label class="title-user" for="tipo_usuario">Ingresa los datos de la Materia</label>
              </div>
            </div>
            <!-- Aquí empiezan los campos del formulario -->
            <mat-form-field class="mat-input" appearance="outline">
              <mat-label>NRC</mat-label>
              <input matInput [(ngModel)]="materia.nrc" name="id" placeholder="Escribe el nrc" mask="000000">
            </mat-form-field>
            <div *ngIf="errors.nrc" class="invalid-feedback">{{ errors.nrc }}</div>
      
            <mat-form-field class="mat-input" appearance="outline">
              <mat-label>Nombre de Materia</mat-label>
              <input matInput [(ngModel)]="materia.nombre_materia" placeholder="Escribe nombre de la materia" (keypress)="soloLetras($event)">
            </mat-form-field>
            <div *ngIf="errors.nombre_materia" class="invalid-feedback">{{ errors.nombre_materia }}</div>
      
            <mat-form-field class="mat-input" appearance="outline">
                <mat-label>Sección</mat-label>
                <input matInput [(ngModel)]="materia.seccion" placeholder="Escribe la seccion" mask="000">
            </mat-form-field>
            <div *ngIf="errors.seccion" class="invalid-feedback">{{ errors.seccion }}</div>


            <div class="select-materias">
              <div class="row mt-3 mb-3">
                <div class="form-group col-12">
                  <label class="title-materias" for="tipo_usuario">Selecciona los dias a impartir la materia</label>
                </div>
              </div>
              <div class="checkbox-group" *ngFor="let materia of materias; let i = index">
                <mat-checkbox class="checkbox-item opc-sc" name="opsc" (change)="checkboxChange($event)" value="{{materia.nombre}}" [checked]="revisarSeleccion(materia.nombre)">
                    <div class="d-checkbox-nombre">{{materia.nombre}}</div>
                </mat-checkbox>
              </div>
            </div>
            
      
            <mat-form-field class="mat-input" appearance="outline">
              <mat-label>Hora de inicio</mat-label>
              <input mask="00:00" mdc-datetime-picker="" matInput [(ngModel)]="materia.hora_inicio" date="false" time="true" placeholder="Escribe la hora de inicio" minutes="true" min-date="minDate" type="text" id="time" format="hh:mm a" short-time="true" ng-model="time" class=" md-input">           
            </mat-form-field>
            <div *ngIf="errors.hora_inicio" class="invalid-feedback">{{ errors.hora_inicio }}</div>
      
            <mat-form-field class="mat-input" appearance="outline" >
              <mat-label>Hora de fin</mat-label>
              <input mask="00:00" matInput [(ngModel)]="materia.hora_fin" placeholder="Escribe la hora de finalización">
            </mat-form-field>
            <div *ngIf="errors.hora_fin" class="invalid-feedback">{{ errors.hora_fin }}</div>
       
            <mat-form-field class="mat-input" appearance="outline" *ngIf="!editar">
                <mat-label>Salón</mat-label>
                <input matInput [(ngModel)]="materia.salon" placeholder="Escribe el salón">
            </mat-form-field>
            <div *ngIf="errors.salon" class="invalid-feedback">{{ errors.salon }}</div>

            <mat-form-field class="mat-input" appearance="outline">
              <mat-label>Programa educativo</mat-label>
              <mat-select [(ngModel)]="materia.programa">
                <mat-option *ngFor="let area of areas" [value]="area.viewValue">
                  {{area.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="errors.programa" class="invalid-feedback">{{ errors.programa }}</div> 



            <mat-form-field class="mat-input" appearance="outline">
              <mat-label>Profesores</mat-label>
              <mat-select [(ngModel)]="materia.programa">
                <mat-option *ngFor="let maestro of lista_maestros" [value]="maestro.email">
                  {{maestro.first_name}} {{maestro.last_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="errors.profesor" class="invalid-feedback">{{ errors.profesor }}</div>
      

            <mat-form-field class="mat-input" appearance="outline">
              <mat-label>Créditos</mat-label>
              <input matInput [(ngModel)]="materia.creditos" placeholder="Escribe la cantidad de creditos" mask="00">
            </mat-form-field>
            <div *ngIf="errors.creditos" class="invalid-feedback">{{ errors.creditos }}</div>
      
      
            <div class="section-buttons">
              <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
              <button *ngIf="!editar" class="btn btn-primary" type="submit" (click)="registrar()">Registrar</button>
              <button *ngIf="editar" class="btn btn-primary" type="submit" (click)="actualizar()">Actualizar</button>
            </div>
      
          </div>
        </div>
      </div>
      
    </div>
  </div>
  